.layout{
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  @include tab{
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr;
    height: auto; 
  }
}

.maincontents{
  overflow-y: auto;
}

// header
.header {
  position: sticky;
  height: 100vh;
  line-height: 1;
  top: 0;
  overflow-y: auto;
  left: 0;
  width: 100%;
  background-color:$BgDef ;
  padding: 32px 24px;
  z-index: 1000;
  box-shadow: 2px 0 4px 0 rgba(0,0,0,0.16);
  @include tab{
    position: fixed;
    padding: 20px 40px;
    height: auto;
  }
  @include sp{
    padding: 16px 20px;
  }
}

.header__logo{
  margin-bottom: 48px;
  @include tab{
    margin-bottom: 0;
  }
  a{
    display: block;
    transition: all 0.3s ease;
    &:hover{
      opacity: 0.7;
    }
    img{
      display: block;
      width: 148px;
      height: auto;
    }
  }
}

.header__nav{
  
}

.menu-toggle {
  display: none;
  @include tab{
    position: absolute;
    top: 20px;
    right: 40px;
    background: rgba(255,255,255,1);
    // box-shadow: 0 2px 4px 2px rgba(0,0,0,0.16) ;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 48px;
    width: 48px;
    padding: 0;
    z-index: 100;
  }
  @include sp{
  right: 16px;
  top: 12px;
  }
}


.menu-icon {
  background-color: $BgPrimaryDef;
  height: 3px;
  width: 28px;
  border-radius: 8px;
  transition: all 0.4s ease-in-out 0s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  &:nth-child(1){
    top: 12px;
  }
  &:nth-child(2){
    top: 22px;
  }
  &:nth-child(3){
    top: 32px;
  }
}

.header__group{
  margin-bottom: 32px;
  @include tab{
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
.header__head3{
  margin-bottom: 8px;
  font-size: 18px;
}
.header__list{
  li{
    @include sp{
      margin-bottom: 8px;
    }
    a{
      color: $TextDef;
      padding: 12px;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
      background: linear-gradient(to right, $BgSubtler 50%, $BgDef 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.3s ease-in-out;
      &:hover{
        background-position: left bottom;
      }
      img{
        width: 16px;
        height: 16px;
      }
    }
  }
}

.header__back{
  @include tab{
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.header__back a {
  display: inline-flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: $TextDef;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 8px;
  // border-radius: 12px;
  // background-color: $BgSubtle;
  border: 1px solid $BorderSubtle;
  // position: absolute;
  // bottom: 32px;
  letter-spacing: 0.08em;
  position: relative;
  background: linear-gradient(to right, $BgSubtler 50%, $BgDef 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-in-out;
  
  @include sp{
    padding: 8px;
  }
  &:hover{
    background-position: left bottom;
  }
  .header__icon{
    width: 20px;
    height: auto;
    display: block;
    margin-right: 4px;
  }
}

.header__nav.active{
  height: 100vh;
  margin-top: 48px;
  .header__group{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  .header__back{
    display: inline-flex;
    opacity: 1;
    transform: translateY(0);
  }
  .menu-toggle{
    .menu-icon{
      @include tab{
        &:nth-child(1){
          -webkit-transform: translateY(0) rotate(225deg);
          -ms-transform: translateY(0) rotate(225deg);
          transform: translateY(0) rotate(225deg);
          top: 22px;
          left: 10px;
        }
        &:nth-child(2){
          -webkit-transform: translateY(0) rotate(-225deg);
          -ms-transform: translateY(0) rotate(-225deg);
          transform: translateY(0) rotate(-225deg);
          left: 10px;
          top: 22px;
        }
        &:nth-child(3){
          display: none;
        }
      }
    }
  }
}


// mv
.mv{
  background-color: $BgDef;
  border-bottom: 1px solid $BorderSubtler;
  @include sp{
    padding: 0 20px 20px;
  }
}
.mv__container{
  display: flex;
  @include tab{
    padding-top: 81px;
  }
  @include sp{
    flex-direction: column;
    gap: 20px;
  }
}
.mv__body{
  width: 380px;
  padding-left: 64px;
  padding-right: 40px;
  margin: auto 0;
  box-sizing: border-box;
  @include tab-lg{
    width: 340px;
  }
  @include tab{
    padding-left: 40px;
    width: 290px;
  }
  @include sp{
    padding: 0;
    width: 100%;
    order: 2;
  }
}
.mv__ttl{
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $TextDef;
  margin-bottom: 12px;
  font-weight: normal;
  font-weight: bold;
  @include tab-lg{
    font-size: 24px;
  }
  @include tab{
    
  }
}
.mv__caption{
  color: $TextSubtler;
  font-size: 16px;
}
.mv__img{
  width: calc(100% - 380px);
  @include tab-lg{
    width: calc(100% - 340px);
  }
  @include tab{
    width: calc(100% - 290px);
  }
  @include sp{
    width: 100%;
    order: 1;
  }
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}

// introduction
.introduction{
  padding: 48px 0;
  background-color: $BgSubtle;
  @include tab{
    padding: 24px 0;
  }
  @include sp{
    padding: 24px 0 48px;
  }
}
.intro__cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:48px;
  @include tab{
    gap: 24px;
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.intro__ttl{
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 32px;
  line-height: 1.25;
  span{
    display: block;
    font-size: 16px;
    @include sp{
      font-size: 14px;
    }
  }
  @include tab{
    font-size: 28px;
    margin-bottom: 20px;
  }

}
.intro__name{
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: normal;
  @include sp{
    font-size: 20px;
  }
}
.intro__skill{
  font-size: 20px;
}
.intro__body{
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 2;
  @include sp{
    font-size: 14px;
  }
}
.anno{
  color: $TextSubtler;
}
.bold{
  font-weight: bold;
}
.intro__skill-ttl{
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: normal;
  @include sp{
    font-size: 20px;
  }
}
.intro__skill-list{
  li{
    margin-bottom: 8px;
    @include sp{
      font-size: 14px;
    }
  }
  img{
    vertical-align: middle;
    margin-right: 8px;
  }
}

// works
.works{
  padding: 40px 0 64px;
  background-color: $BgDef;
  @include tab{
    padding: 24px 0 48px;
  }
}
.works__ttl{
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 32px;
  line-height: 1.25;
  span{
    display: block;
    font-size: 16px;
    @include sp{
      font-size: 14px;
    }
  }
  @include tab{
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.works__anno{
  color: $TextSubtler;
  font-size: 16px;
  @include sp{
    font-size: 14px;
  }
}

.works__card-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-bottom: 40px;
  @include tab-lg{
    gap: 40px;
  }
  @include sp{
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.works__card{
  background-color: $BgDef;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  border: 1px solid $BorderSubtler;
  &:hover{
    box-shadow: 0 8px 12px 2px rgba(0,0,0,0.3);
    border: 1px solid $BorderSubtle;
  }
}
.card__img-cont{
  img{
    width: 100%;
    height: auto;
  }
}
.card__text{
  padding: 8px 24px 12px;
  @include sp{
    padding: 8px 16px 16px;
  }
}
.card__ttl{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: $TextDef;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  img{
    width: 20px;
    height: 20px;
  }
  @include sp{
    font-size: 16px;
  }
}
.card__desc{
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: $TextSubtle;
  @include sp{
    font-size: 14px;
  }
}


// footer
.footer{
  background-color: $BgPrimaryDef;
  padding: 40px 40px 20px;
  @include sp{
    padding: 24px 0;
  }
}
.footer__nav{
  display: grid;
  margin-bottom: 24px;
  grid-template-columns: repeat(2, 1fr);
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
.footer__nav-ttl{
  color: $TextInverse;
  font-size: 24px;
  @include sp{
    font-size: 20px;
  }
}
.footer__nav-list{
  a{
    color: $TextInverse;
    padding: 12px 20px;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap:8px;
    &:hover{
      opacity: 0.7;
    }
    img{
      width: 20px;
      height: 20px;
    }
  }
}
.footer__copyright{
  text-align: center;
  color: $TextInverse;
  @include sp{
    font-size: 14px;
  }
}

// animation
.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.char {
  opacity: 0;
  transform: translateY(10px);
  display: inline-block;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


// 下層ページ
.article__cont{
  max-width: 960px;
  width: 100%;
  padding: 32px 40px;
  margin: 0 auto;
  background-color: #fff;
  @include tab{
    padding-top: 120px;
  }
  @include sp{
    padding: 84px 20px 40px;
  }
}
.art__hed1{
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 16px;
  color: $TextDef;
  @include sp{
    font-size: 20px;
  }
}
.art__p{
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 2;
  margin-bottom: 16px;
  color: $TextDef;
  @include sp{
    font-size: 14px;
  }
}
.art__cate{
  margin-bottom: 16px;
}
.art__eyecatch{
  margin-bottom: 24px;
  position: relative;
  a{
    transition: all 0.3s ease-in-out;
    .art__eyecatch-label{
      opacity: 0;
      transition: all 0.3s ease-in-out;
      top: 0;
      left: 0;
      position: absolute;
      font-size: 24px;
      color: $TextInverse;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.7);
      img{
        width: 28px;
        margin-right: 8px;
        vertical-align: bottom;
      }
    }

    &:hover{
      .art__eyecatch-label{
        opacity: 1;
      }
    }
    .art__eyecatch-img{
      width: 100%;
      height: auto;
      display: block;
    }
    
  }
  
}
.art__hed2{
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  color: $TextDef;
  @include sp{
    font-size: 20px;
  }
}
.art__hed3{
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
  color: $TextDef;
  @include sp{
    font-size: 16px;
  }
}
.art__list{
  margin-bottom: 24px;
  li{
    color: $TextDef;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    @include sp{
    font-size: 14px;
  }
    &::before{
      content: "•";
      margin-right: 8px;
      color: #1a1a1a;
    }
  }
}
.art__orderlist{
  margin-bottom: 24px;
  margin-left: 28px;
  li{
    list-style: decimal;
    color: $TextDef;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 8px;
    @include sp{
    font-size: 14px;
    }
  }
}
.art__link{
  color:#0C66E4;
  transition: all 0.3s;
  border-bottom: 1px solid #0C66E4;
  @include sp{
    font-size: 14px;
  }
  img{
    width: 20px;
    vertical-align: sub;
  }
  &:hover{
    opacity: 0.7;
  }
}
.art__img{
  margin-bottom: 16px;
  img{
    width: 100%;
    height: auto;
  }
}
.art__cv{
  display: flex;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  margin-bottom: 32px;
  &:hover{
    box-shadow: 0 8px 12px 2px rgba(0,0,0,0.2);
    border: 1px solid #999;
  }
  @include sp{
    flex-direction: column;
  }
}
.art__cv-img{
  width: 40%;
  height: 100%;
  @include sp{
    width: 100%;
  }
  img{
    width: 100%;
    height: 100%;
    display: block;
  }
}
.art__cv-text{
  width: 60%;
  padding: 24px;
  background-color: #fff;
  @include sp{
    padding: 16px;
    width: 100%;
  }
}
.art__cv-ttl{
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: $TextDef;
  font-weight: bold;
  margin-bottom: 16px;
  img{
    margin-left: 8px;
  }
  @include sp{
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.art__cv-desc{
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: $TextSubtler;
}
.open-icon{
  width: 24px;
  margin-right: 8px;
  vertical-align: middle;
  @include sp{
    width: 20px;
  }
}

.column2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 16px;
  @include sp{
    grid-template-columns: repeat(1, 1fr);
  }
}
.box{
  padding: 20px;
  background-color: #f0f0f0;
}
.box-hed{
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 12px;
}
.box-list{
  li{
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 0.02em;
    &::before{
      content: "•";
      margin-right: 8px;
      color: #1a1a1a;
    }
  }
}
.box-p{
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
}

.mb32{
  margin-bottom: 32px;
}

.figma-prototype{
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.anno{
  color: $TextSubtler;
}

.art__memo{
  padding: 20px 28px;
  border: 1px solid $BorderSubtler;
  background-color: $BgSubtle;
  margin-bottom: 24px;
  @include sp{
    padding: 16px;
  }
}
.art__memo-head2{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.art__memo-head3{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
  img{
    vertical-align: bottom;
    margin-right: 8px;
  }
}
.art__memo-container{
  gap: 28px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.art__memo-p{
  font-size: 14px;
  line-height: 2;
}
.art__memo-list{
  li{
    font-size: 14px;
    position: relative;
    padding-left: 14px;
    line-height: 2;
    margin-bottom: 8px;
    &::before{
      content: "・";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}