// header
.header{
  display: none;
  padding:24px;
  background-color: $BgPrimaryDef;
  color: $TextInverse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  @include tab{
    padding: 24px 0 24px;
  }
  @include sp{
    padding: 16px 0;
  }
}

.header__nav{
  // margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.menu-toggle {
  display: none;
  @include tab{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 44px;
    height: 48px;
    padding: 0;
    position: relative;
    z-index: 100;
  }
}
.menu-icon {
  background-color: $TextInverse;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
  &:nth-child(1){
    top: 8px;
  }
  &:nth-child(2){
    top: 16px;
  }
  &:nth-child(3){
    top: 24px;
  }
}
.menu-label{
  position: absolute;
  top: 36px;
}
.menu-label{
    font-size: 14px;
    color: $TextInverse;
    padding: 0 4px;
    transition: all 0.3s ease-in-out 0s;
  }
.header__nav-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  @include tab{
    display: none;
  }
}
.header__links-item{
  list-style: none;
  @include tab{
    width: 100%;
  }
  a{
    color: $TextInverse;
    font-size: 20px;
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out;
    &:hover{
      border-bottom: 1px solid $BorderSubtle;
    }
    @include tab{
      font-size: 20px;
      color: $TextSubtle;
      font-weight: bold;
      transform: rotate(0.05deg);
    }
  }
}

.dropdown-icon{
  vertical-align: middle;
  @include tab{
    display: none;
  }
}


.header__nav-dropdown{
  .header__nav-works{
    color: $TextInverse;
    font-size: 20px;
    padding-bottom: 8px;
    transition: all 0.3s ease-in-out;
    @include tab{
      padding: 24px;
      font-size: 20px;
      color: $TextSubtle;
      font-weight: bold;
      border-bottom: 1px solid $BorderSubtle;
      display: block;
    }
  }
  &:hover{
    .header__dropdown-menu{
      transition: all 0.3s ease;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.header__dropdown-menu{
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* ホバー時以外はクリックできないように */

  position: absolute;
  background-color: $BgPrimaryDef;
  padding: 16px 16px 8px;
  border: 1px solid $BorderSubtle;
  top: 36px;
  width: 220px;

  @include tab{
    display: block;
    opacity: 1;
    position: initial;
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  li{
    margin-bottom: 16px;
    position: relative;
    @include tab{
      margin-bottom: 0;
    }
    a{
      color: $TextInverse;
      display: block;
      padding: 8px 16px;
      border-bottom: 1px solid $BorderSubtle;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      @include tab{
        padding: 24px 48px;
      }
      &:hover{
        background-color: $BgPrimaryHover;
      }
    }
  }
}
.arrow-right-icon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  @include tab{
    right: 24px;
  }
}

.active{
  .menu-toggle{
    .menu-icon{
      @include tab{
        &:nth-child(1){
          -webkit-transform: translateY(0) rotate(225deg);
          -ms-transform: translateY(0) rotate(225deg);
          transform: translateY(0) rotate(225deg);
          position: absolute;
          top: 16px;
        }
        &:nth-child(2){
          -webkit-transform: translateY(0) rotate(-225deg);
          -ms-transform: translateY(0) rotate(-225deg);
          transform: translateY(0) rotate(-225deg);
        }
        &:nth-child(3){
          display: none;
        }
      }
    }
  }
  .header__nav-links{
    @include tab{
      display: block;
      position: absolute;
      height: 100vh;
      overflow-y: auto;
      background-color: $BgPrimaryDef;
      top: 0;
      width: 100%;
      left: 0;
      padding: 64px 48px 48px;
      text-align: left;
    }
  }
    .header__links-item{
      a{
        @include tab{
          display: block;
          padding: 24px;
          border-bottom: 1px solid $TextInverse;
        }
      }
    }
  }

/*
  header end
*/
// mv
.mv{
  background-image: url(../images/mv_bgi.png);
  background-size: cover;
  font-family: 'Scope One';
  // opacity: 0;
  // transform: translateY(20px);
  @include sp{
    background-position: top;
  }
}

// .mv.animate{
//   animation: bgFadeIn 1.2s ease-out forwards;
//   animation-delay: 0.5s;
// }

// @keyframes bgFadeIn {
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.mv__inner{
  background-color: rgba(26,26,26,0.5);
  padding: 240px 0;
  @include tab{
    padding: 160px 0;
  }
  @include sp{
    padding: 120px 0;
  }
}
.mv__ttl{
  font-size: 64px;
  line-height: 1.5;
  color: #f0f0f0;
  margin-bottom: 48px;
  font-weight: normal;
  @include tab{
    font-size: 36px;
  }
}
.mv__body{
  color: #f0f0f0;
}
.mv__body-job{
  font-size: 28px;
  margin-bottom: 16px;
  @include sp{
    font-size: 20px;
  }
}
.mv__body-name{
  font-size: 28px;
  @include sp{
    font-size: 20px;
  }
}


// introduction
.introduction{
  padding: 48px 24px;
  background-color: $BgSubtle;
  @include tab{
    padding: 24px 0;
  }
  @include sp{
    padding: 24px 0 48px;
  }
}
.intro__cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:48px;
  @include tab{
    gap: 24px;
  }
  @include sp{
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.intro__ttl{
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 24px;
  font-family: 'Scope One';
  font-weight: bold;
  @include tab{
    font-size: 36px;
    margin-bottom: 12px;
  }
  @include sp{
    font-size: 28px;
  }
}
.intro__name{
  font-size: 24px;
  margin-bottom: 16px;
  color: $TextSubtle;
  font-weight: normal;
  @include sp{
    font-size: 20px;
  }
}
.intro__skill{
  font-size: 20px;
}
.intro__body{
  margin-bottom: 8px;
  color: $TextSubtle;
  font-size: 16px;
  line-height: 2;
  @include sp{
    font-size: 14px;
  }
}
.intro__skill-ttl{
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: normal;
  @include sp{
    font-size: 20px;
  }
}
.intro__skill-list{
  li{
    margin-bottom: 8px;
    @include sp{
      font-size: 14px;
    }
  }
  img{
    vertical-align: middle;
    margin-right: 8px;
  }
}

// works
.works{
  padding: 48px 0 64px;
  background-color: $BgDef;
  @include tab{
    padding: 24px 0 48px;
  }
}
.works__ttl{
  font-size: 48px;
  font-family: 'Scope One';
  margin-bottom: 24px;
  @include tab{
    font-size: 36px;
    margin-bottom: 12px;
  }
  @include sp{
    font-size: 28px;
  }
}

.works__card-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  @include tab{
    gap: 48px;
  }
  @include sp{
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.works__card{
  background: $BgDef;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4);
  }
}
.card__img-cont{
  img{
    width: 100%;
  }
}
.card__text{
  padding: 16px 24px 24px;
  @include sp{
    padding: 8px 16px 16px;
  }
}
.card__ttl{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: $TextDef;
  @include sp{
    font-size: 16px;
  }
}
.card__desc{
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: $TextSubtle;
  @include sp{
    font-size: 14px;
  }
}


// footer
.footer{
  background-color: $BgPrimaryDef;
  padding: 48px;
  @include sp{
    padding: 24px;
  }
}
.footer__nav{
  display: flex;
  justify-content: end;
  margin-bottom: 24px;

}
.footer__nav-list{
  display: flex;
  gap: 24px;
  @include sp{
    flex-direction: column;
  }
  a{
    color: $TextInverse;
    padding-bottom: 8px;
    padding: 16px;
    transition: all 0.3s ease;
    &:hover{
      border-bottom: 1px solid $BorderSubtle;
    }
  }
}
.footer__copyright{
  text-align: center;
  color: $TextInverse;
  @include sp{
    font-size: 14px;
  }
}

// animation
.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.char {
  opacity: 0;
  transform: translateY(10px);
  display: inline-block;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
