.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 48px;
  @include sp{
    padding: 0 24px;
  }
}

.icon--check{
  vertical-align: middle;
  margin-right: 8px;
}

.anno{
  color: $TextSubtler;
}