// 色の定義

// Text
$TextDef:#363636;
$TextInverse:#FFF;
$TextSubtle:#505050;
$TextSubtler:#707070;
$TextAccent:#bfa873;

// BackGround
$BgPrimaryDef:#363636;
$BgPrimaryHover:#707070;
$BgPrimaryHigh:#1a1a1a;
$BgDef:#fff;
$BgSubtle:#f7f7f7;
$BgSubtler:#eee;

// Border
$BorderDef:#363636;
$BorderSubtle:#707070;
$BorderSubtler:#e0e0e0;
$BorderInverse:#fff;




$MainColor:#363636;
$BaseColor1:#fff;
