// 色の定義

// Text
$TextDef:#1a1a1a;
$TextInverse:#fff;
$TextSubtle:#4c4c4c;
$TextSubtler:#808080;
$TextAccent:#bfa873;

// BackGround
$BgPrimaryDef:#1a1a1a;
$BgPrimaryHover:#333;
$BgDef:#fff;
$BgSubtle:#f5f5f5;
$BgSubtler:#e6e6e6;

// Border
$BorderDef:#1a1a1a;
$BorderSubtle:#808080;
$BorderSubtler:#e0e0e0;
$BorderInverse:#fff;




$MainColor:#363636;
$BaseColor1:#fff;
