// 色の定義

// Text
$TextDef:#1a1a1a;
$TextInverse:#fff;
$TextSubtle:#333;
$TextSubtler:#808080;
$TextAccent:#bfa873;

// BackGround
$BgPrimaryDef:#1a1a1a;
$BgPrimaryHover:#333;
$BgDef:#fff;
$BgSubtle:#f2f2f2;
$BgSubtler:#e6e6e6;

// Border
$BorderDef:#1a1a1a;
$BorderSubtle:#808080;




$MainColor:#363636;
$BaseColor1:#fff;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
